# Pandas Walkthrough

In [1]:
# We need to import Pandas & Numpy
import pandas as pd # pd is the alias
import numpy as np #np is the alias

### Basic forms -> Serie & Dataframe

In [2]:
my_serie = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
my_serie

a    1.033952
b   -0.104856
c   -0.796489
d   -1.044549
e    0.755986
dtype: float64

In [3]:
my_dataframe = pd.DataFrame({
    'Name': ['Andres', 'Melissa', 'Freddy'],
    'Lastname': ['Gutierrez', 'Cardenas', 'Vega'],
    'Age': [23, 22, 35],
})
display(my_dataframe)

      Name   Lastname  Age
0   Andres  Gutierrez   23
1  Melissa   Cardenas   22
2   Freddy       Vega   35

In [4]:
my_dataframe['Name']

0     Andres
1    Melissa
2     Freddy
Name: Name, dtype: object

In [5]:
my_dataframe.Name # danger!

0     Andres
1    Melissa
2     Freddy
Name: Name, dtype: object

#### Simple query

In [6]:
my_dataframe[my_dataframe['Name'] == 'Andres']

     Name   Lastname  Age
0  Andres  Gutierrez   23

In [7]:
mask = [True, False, False]

In [8]:
my_dataframe[mask]

     Name   Lastname  Age
0  Andres  Gutierrez   23

### Read external file

In [9]:
pokemon = pd.read_excel('pokemon.xlsx', sheet_name='Pokemon')
pokemon.head()

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,001,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,001,Bulbasaur,POISON,318,45,49,49,65,65,45
2,002,Ivysaur,GRASS,405,60,62,63,80,80,60
3,002,Ivysaur,POISON,405,60,62,63,80,80,60
4,003,Venusaur,GRASS,525,80,82,83,100,100,80

In [10]:
pokemon_moves = pd.read_excel('pokemon.xlsx', sheet_name='Moves')
pokemon_moves.head()

,Name,Type,Cat.,Power,Acc.,PP,TM,Effect,Prob. (%)
0,Absorb,GRASS,Special,20.0,100,25.0,NaN,User recovers half the HP inflicted on opponent.,NaN
1,Acid,POISON,Special,40.0,100,30.0,NaN,May lower opponent's Special Defense.,10.0
2,Acid Armor,POISON,Status,NaN,NaN,40.0,NaN,Sharply raises user's Defense.,NaN
3,Acid Spray,POISON,Special,40.0,100,20.0,NaN,Sharply lowers opponent's Special Defense.,100.0
4,Acrobatics,FLYING,Physical,55.0,100,15.0,TM62,Stronger when the user does not have a held item.,NaN

In [11]:
pokemon_evolution = pd.read_excel('pokemon.xlsx', sheet_name='Evolution')
pokemon_evolution.head()

  Evolving from Evolving to  Level Condition Evolution Type
0     Bulbasaur     Ivysaur   16.0       NaN          Level
1       Ivysaur    Venusaur   32.0       NaN          Level
2    Charmander  Charmeleon   16.0       NaN          Level
3    Charmeleon   Charizard   36.0       NaN          Level
4      Squirtle   Wartortle   16.0       NaN          Level

## Applying merge

In [12]:
merged_pokemon = pokemon.merge(pokemon_evolution, left_on=['Name'], right_on=['Evolving from'])
merged_pokemon.head()

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,Evolving to,Level,Condition,Evolution Type
0,001,Bulbasaur,GRASS,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16.0,NaN,Level
1,001,Bulbasaur,POISON,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16.0,NaN,Level
2,002,Ivysaur,GRASS,405,60,62,63,80,80,60,Ivysaur,Venusaur,32.0,NaN,Level
3,002,Ivysaur,POISON,405,60,62,63,80,80,60,Ivysaur,Venusaur,32.0,NaN,Level
4,004,Charmander,FIRE,309,39,52,43,60,50,65,Charmander,Charmeleon,16.0,NaN,Level

## Get all types by Pokemon

In [13]:
merged_pokemon[merged_pokemon['Name']=='Bulbasaur']['Type']

0     GRASS
1    POISON
Name: Type, dtype: object

In [14]:
merged_pokemon.groupby(by=['Name']).mean()

,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Level
Name,,,,,,,,
Abra,310,25,20,15,105,55,90,16.0
Aipom,360,55,70,55,40,55,85,NaN
Amaura,362,77,59,50,67,63,46,39.0
Anorith,355,45,95,50,40,50,75,40.0
Archen,401,55,112,45,74,45,70,37.0
Aron,330,50,70,100,40,40,30,32.0
Axew,320,46,87,60,30,40,57,38.0
Azurill,190,50,20,40,20,40,20,NaN
Bagon,300,45,75,60,40,30,50,30.0
Baltoy,300,40,40,55,40,70,55,36.0
Barboach,288,50,48,43,46,41,60,30.0
Bayleef,405,60,62,80,63,80,60,32.0
Beldum,300,40,55,80,35,60,30,20.0
Bellsprout,300,50,75,35,70,30,40,21.0
Bergmite,304,55,69,85,32,35,28,37.0
Bidoof,250,59,45,40,35,40,31,15.0
Binacle,306,42,52,67,39,56,50,39.0
Blitzle,295,45,60,32,50,32,76,27.0
Boldore,390,70,105,105,50,40,20,NaN
Bonsly,290,50,80,95,10,45,10,NaN
Braixen,409,59,59,58,90,70,73,36.0
Bronzor,300,57,24,86,24,86,23,33.0
Budew,280,40,30,35,50,70,55,NaN
Buizel,330,55,65,35,60,30,85,26.0
Bulbasaur,318,45,49,49,65,65,45,16.0
Buneary,350,55,66,44,44,56,85,NaN
Bunnelby,237,38,36,38,32,36,57,20.0
Burmy,224,40,29,45,29,45,36,20.0
Cacnea,335,50,85,40,85,40,35,32.0
Carvanha,305,45,90,20,65,20,65,30.0
...,...,...,...,...,...,...,...,...
Tympole,294,50,50,40,50,40,64,25.0
Tynamo,275,35,55,40,45,40,60,39.0
Tyrogue,210,35,35,35,35,35,35,20.0
Tyrunt,362,58,89,77,45,45,48,39.0
Vanillish,395,51,65,65,80,75,59,47.0
Vanillite,305,36,50,50,65,60,44,35.0
Venipede,260,30,45,59,30,39,57,22.0
Venonat,305,60,55,50,40,55,45,31.0
Vibrava,340,50,70,50,50,50,70,45.0
Vigoroth,440,80,80,80,55,55,90,36.0
Voltorb,330,40,30,50,55,55,100,30.0
Vullaby,370,70,55,75,45,65,60,54.0
Vulpix,299,38,41,40,50,65,65,NaN
Wailmer,400,130,70,35,70,35,60,40.0
Wartortle,405,59,63,80,65,80,58,36.0
Weedle,195,40,35,30,20,20,50,7.0
Weepinbell,390,65,90,50,85,45,55,NaN
Whirlipede,360,40,55,99,40,79,47,30.0
Whismur,240,64,51,23,51,23,28,20.0
Wingull,270,40,30,30,55,30,85,25.0
Woobat,313,55,45,43,55,43,72,NaN
Wooper,210,55,45,45,25,25,15,20.0
Wurmple,195,45,45,35,20,30,20,7.0
Wynaut,260,95,23,48,23,48,23,15.0
Yamask,303,38,30,85,55,65,30,34.0
Yanma,390,65,65,45,75,45,95,NaN
Zigzagoon,240,38,30,41,30,41,60,20.0
Zorua,330,40,65,40,80,40,65,30.0
Zubat,245,40,45,35,30,40,55,22.0
Zweilous,420,72,85,70,65,70,58,64.0

# BANK ANALYSIS

In [20]:
my_bank = pd.read_excel('transactions.xls')
display(my_bank.head(3))
display(my_bank.tail(3))

         Date Code      Description  Unnamed: 3  Debits  Credits  Balance
0  20/01/2019   CP  GROCERY STORE 1         NaN    1.39      0.0    13.61
1  20/01/2019   CP  GROCERY STORE 1         NaN    3.16      0.0    10.45
2  24/01/2019   CP    LOS PALETEROS         NaN    9.32      0.0     1.13

,Date,Code,Description,Unnamed: 3,Debits,Credits,Balance
338,14/10/2019,CP,UBER *TRIP 800-5,NaN,1.71,0.0,354.2
339,14/10/2019,TF,TEF DE:MILTON CARDENAS NAJERA,NaN,0.00,70.0,424.2
340,16/10/2019,TF,TEF DE: 941148827,NaN,0.00,400.0,824.2

In [24]:
#my_bank.columns.tolist()
my_bank = my_bank.drop(['Unnamed: 3'], axis=1)
#my_bank.drop(['Unnamed: 3'], axis=1, inplace=True)

In [25]:
my_bank.head()

         Date Code                  Description  Debits  Credits  Balance
0  20/01/2019   CP              GROCERY STORE 1    1.39     0.00    13.61
1  20/01/2019   CP              GROCERY STORE 1    3.16     0.00    10.45
2  24/01/2019   CP                LOS PALETEROS    9.32     0.00     1.13
3  24/01/2019   MC  TFT DE Gutierrez_Arcia_Andr    0.00    50.00    51.13
4  31/01/2019   3O                    INTERESES    0.00     0.08    51.21

In [27]:
my_bank.shape

(341, 6)

In [35]:
my_bank['Description'].value_counts()#.sort_index(ascending=True)

UBER   *TRIP             800-5          53
UBER TRIP HELP.UBER.COM      .          50
RETIRO ATM 353714          HER          14
AM PM LA AURORA HEREDIA                 13
PRF DEBITO NORMAL 474581221635          11
GROCERY STORE 1                         11
INTERESES                                9
SODA BUENISIMO                           8
EXTREME TECH                             7
WALMART TIBAS          DIRECTO           7
TEF DE: 941148827                        6
UBR* PENDING.UBER.COM    800-5           5
UBER   *EATS             800-5           5
TEF A : 924924525                        4
MAS X MENOS TIBAS      DIRECTO           4
CLINICA ASEMBIS HEREDIA                  3
PLATZI BASIC (MONTHLY)   HTTPS           3
MAS X MENOS HEREDIA    DIRECTO           3
FISCHEL TIBAS S05                        3
UBER EATS HELP.UBER.COM      .           3
CINEPOLIS LINCOLN                        3
RESTAURANTE PIMIENTA VERDHERED           2
Payroll Pasan Apr302019 GFT CR           2
WALMART  HEREDIA DIRECTO                 2
TFT-SINPE A: 814000-11**-****-638975     2
ASEMBIS SAN JOSE                         2
RETIRO ATM 353714          ALA           2
COMISION CD SINPE A 8140001101           2
COMISION TFT-SINPE A: 81400011           2
TFT-SINPE A: 15202-00**-****-7768        2
                                        ..
AMZN Mktp US*WW1IM2GU3   A   .           1
Spotify P0C5BBB417       S               1
UberBV                       .           1
UBER   *TRIP J6BNH       800-5           1
PAGO IIQ Pasan Ene19 GFT CR              1
TEF A : 936708460                        1
UBER   *TRIP HKWQH       800-5           1
MPK Por Media Calle CR   Hered           1
TILAPIAS QUECO S                         1
TACO BELL PARQUE DE DIVERSIONE           1
CAFE GITANE              HERED           1
UBER   *TRIP 2NWRV       800-5           1
PAGO IIQ Pasan Mar 19 GFT CR             1
PAGO IIQ Pasan Feb 19 GFT CR             1
TOYS OXIGENO             HERED           1
Spotify P0AF12C98E       S               1
TIENDA MODA ACTUAL                       1
TEF A : 923028351                        1
MOYO LINCOLN                             1
DRA GEOVANNA UMANA                       1
AMZN Mktp US*MO1IR7690   A   .           1
FARMACIA LIZANO CIUD.QUESADA 4           1
MINISUPER Y PANADERIA MUSHERED           1
INVERSIONES BETANIA JMC                  1
LOS PALETEROS                            1
CD SINPE A 15105-02**-****-9347          1
TOYS TIBAS(VENTA DE JUGUETIBAS           1
SUPER EL PROGRESO                        1
TGI FRIDAY'S OXIGENO     Hered           1
UBER   *TRIP VBISP       800-5           1
Name: Description, Length: 124, dtype: int64