# Pandas Walkthrough

In [1]:
# We need to import Pandas & Numpy
import pandas as pd # pd is the alias
import numpy as np #np is the alias

### Basic forms -> Serie & Dataframe

In [2]:
my_serie = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
my_serie

a    1.818228
b   -0.063401
c   -0.968898
d   -0.377743
e    0.374123
dtype: float64

In [3]:
my_dataframe = pd.DataFrame({
    'Name': ['Andres', 'Melissa', 'Freddy'],
    'Lastname': ['Gutierrez', 'Cardenas', 'Vega'],
    'Age': [23, 22, 35],
})
display(my_dataframe)

      Name   Lastname  Age
0   Andres  Gutierrez   23
1  Melissa   Cardenas   22
2   Freddy       Vega   35

In [4]:
my_dataframe['Name']

0     Andres
1    Melissa
2     Freddy
Name: Name, dtype: object

In [5]:
my_dataframe.Name # danger!

0     Andres
1    Melissa
2     Freddy
Name: Name, dtype: object

#### Simple query

In [6]:
my_dataframe[my_dataframe['Name'] == 'Andres']

     Name   Lastname  Age
0  Andres  Gutierrez   23

In [7]:
mask = [True, False, False]

In [8]:
my_dataframe[mask]

     Name   Lastname  Age
0  Andres  Gutierrez   23

### Read external file

In [9]:
pokemon = pd.read_excel('pokemon.xlsx', sheet_name='Pokemon')
pokemon.head()

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,001,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,001,Bulbasaur,POISON,318,45,49,49,65,65,45
2,002,Ivysaur,GRASS,405,60,62,63,80,80,60
3,002,Ivysaur,POISON,405,60,62,63,80,80,60
4,003,Venusaur,GRASS,525,80,82,83,100,100,80

In [10]:
pokemon_moves = pd.read_excel('pokemon.xlsx', sheet_name='Moves')
pokemon_moves.head()

,Name,Type,Cat.,Power,Acc.,PP,TM,Effect,Prob. (%)
0,Absorb,GRASS,Special,20.0,100,25.0,NaN,User recovers half the HP inflicted on opponent.,NaN
1,Acid,POISON,Special,40.0,100,30.0,NaN,May lower opponent's Special Defense.,10.0
2,Acid Armor,POISON,Status,NaN,NaN,40.0,NaN,Sharply raises user's Defense.,NaN
3,Acid Spray,POISON,Special,40.0,100,20.0,NaN,Sharply lowers opponent's Special Defense.,100.0
4,Acrobatics,FLYING,Physical,55.0,100,15.0,TM62,Stronger when the user does not have a held item.,NaN

In [11]:
pokemon_evolution = pd.read_excel('pokemon.xlsx', sheet_name='Evolution')
pokemon_evolution.head()

  Evolving from Evolving to  Level Condition Evolution Type
0     Bulbasaur     Ivysaur   16.0       NaN          Level
1       Ivysaur    Venusaur   32.0       NaN          Level
2    Charmander  Charmeleon   16.0       NaN          Level
3    Charmeleon   Charizard   36.0       NaN          Level
4      Squirtle   Wartortle   16.0       NaN          Level

## Applying merge

In [12]:
merged_pokemon = pokemon.merge(pokemon_evolution, left_on=['Name'], right_on=['Evolving from'])
merged_pokemon.head()

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,Evolving to,Level,Condition,Evolution Type
0,001,Bulbasaur,GRASS,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16.0,NaN,Level
1,001,Bulbasaur,POISON,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16.0,NaN,Level
2,002,Ivysaur,GRASS,405,60,62,63,80,80,60,Ivysaur,Venusaur,32.0,NaN,Level
3,002,Ivysaur,POISON,405,60,62,63,80,80,60,Ivysaur,Venusaur,32.0,NaN,Level
4,004,Charmander,FIRE,309,39,52,43,60,50,65,Charmander,Charmeleon,16.0,NaN,Level

## Get all types by Pokemon

In [13]:
merged_pokemon[merged_pokemon['Name']=='Bulbasaur']['Type']

0     GRASS
1    POISON
Name: Type, dtype: object

In [20]:
merged_pokemon.groupby(by=['Name']).mean();

# BANK ANALYSIS

In [15]:
my_bank = pd.read_excel('transactions.xls')
display(my_bank.head(3))
display(my_bank.tail(3))

         Date Code      Description  Unnamed: 3  Debits  Credits  Balance
0  20/01/2019   CP  GROCERY STORE 1         NaN    1.39      0.0    13.61
1  20/01/2019   CP  GROCERY STORE 1         NaN    3.16      0.0    10.45
2  24/01/2019   CP    LOS PALETEROS         NaN    9.32      0.0     1.13

,Date,Code,Description,Unnamed: 3,Debits,Credits,Balance
430,15/10/2019,TF,TEF A : 934820192,NaN,12.26,0.0,151.10
431,16/10/2019,TF,TEF A : 938555331,NaN,400.00,0.0,500.07
432,16/10/2019,MD,DTR:CLUB_SUELDO-_ANDRES_GUTIER,NaN,375.00,0.0,125.07

In [16]:
#my_bank.columns.tolist()
my_bank = my_bank.drop(['Unnamed: 3'], axis=1)
#my_bank.drop(['Unnamed: 3'], axis=1, inplace=True)

In [17]:
my_bank.head()

         Date Code                  Description  Debits  Credits  Balance
0  20/01/2019   CP              GROCERY STORE 1    1.39     0.00    13.61
1  20/01/2019   CP              GROCERY STORE 1    3.16     0.00    10.45
2  24/01/2019   CP                LOS PALETEROS    9.32     0.00     1.13
3  24/01/2019   MC  TFT DE Gutierrez_Arcia_Andr    0.00    50.00    51.13
4  31/01/2019   3O                    INTERESES    0.00     0.08    51.21

In [18]:
my_bank.shape

(433, 6)

In [19]:
my_bank['Description'].value_counts()#.sort_index(ascending=True)

UBER   *TRIP             800-5          53
UBER TRIP HELP.UBER.COM      .          50
RETIRO ATM 353714          HER          14
AM PM LA AURORA HEREDIA                 14
SODA BUENISIMO                          13
GROCERY STORE 1                         13
PRF DEBITO NORMAL 474581221635          11
RETIRO ATM 397225          HER          10
INTERESES                                9
MAS X MENOS TIBAS      DIRECTO           8
EXTREME TECH                             8
WALMART TIBAS          DIRECTO           8
TEF A : 924924525                        6
TEF A : 938555331                        6
CLINICA ASEMBIS HEREDIA                  6
TEF DE: 941148827                        6
RETIRO ATM 397225          SJO           5
SUPER VIQUEZ             SANTA           5
UBR* PENDING.UBER.COM    800-5           5
UBER   *EATS             800-5           5
INVERSIONES BETANIA JMC                  4
CINEPOLIS LINCOLN                        4
WALMART  HEREDIA DIRECTO                 4
RED LOGISTIC INTERNATIONAALAJU           4
RESTAURANTE PIMIENTA VERDHERED           3
COMISION TFT-SINPE A: 81400011           3
UBER EATS HELP.UBER.COM      .           3
PLATZI BASIC (MONTHLY)   HTTPS           3
TFT-SINPE A: 814000-11**-****-638975     3
FISCHEL TIBAS S05                        3
                                        ..
SERVICENTRO CARRIZAL     CENTR           1
Spotify P0AF12C98E       S               1
SODA HENRY S                             1
MCDONALD'S HEREDIA                       1
FARMACIA SANTA LUCIA LOS HERED           1
RESTAURANTE YOKOHAMA SAN MONTE           1
DRA GEOVANNA UMANA                       1
UBER   *TRIP 2NWRV       800-5           1
BOLETERIA DIGITAL ESPRESSIVO             1
SERVILICENCIAS DE HEREDIA                1
FARMACIA SUCRE HEREDIA                   1
UBER   *TRIP X3YO6       800-5           1
UBER   *TRIP VBISP       800-5           1
TILAPIAS QUECO S                         1
Spotify P0BE39B6AC       S               1
STARBUCKS COFFEE PLAZA LINCOLN           1
PIZZA OLIVERA                            1
LA TORTILLERIA HEREDIA                   1
TEF A : 911270239                        1
Spotify P0CD267D23       S               1
TACO BELL PARQUE DE DIVERSIONE           1
UNO SPORTS IMPACTO SAN FRSAN F           1
TEF A : 938781440                        1
AMZN Mktp US*FY8BE8AQ3   A   .           1
AMZN Mktp US*WW1IM2GU3   A   .           1
PANALERA Y TIENDA BABY                   1
AMZN Mktp US*MO1IR7690   A   .           1
TEF A : 934820192                        1
ESTACION DE SERVICIOS COOAlaju           1
Spotify P0A79A17C7       S               1
Name: Description, Length: 157, dtype: int64

# How much I spend in Uber?

In [35]:
my_bank[my_bank['Description'].str.contains(pat = 'UBER', regex = True)]

           Date Code                     Description  Debits  Credits  Balance
8    03/02/2019   CP  UBER TRIP BWEE5 HELP.UBER    .    2.98      0.0    32.41
19   10/02/2019   CP  UBER   *TRIP HKWQH       800-5    4.63      0.0   652.21
20   10/02/2019   CP  UBER   *TRIP LSWFB       800-5    4.82      0.0   647.39
23   13/02/2019   CP  UBER   *TRIP J6BNH       800-5    3.22      0.0   623.37
27   18/02/2019   CP  UBER   *TRIP TZT3Y       800-5    5.38      0.0   555.87
29   19/02/2019   CP  UBER   *TRIP VBISP       800-5    1.62      0.0   529.04
35   26/02/2019   CP  UBER   *TRIP TK3TX       800-5    2.35      0.0   491.62
56   09/03/2019   CP  UBER   *TRIP X3YO6       800-5    4.60      0.0   703.08
59   16/03/2019   CP  UBER   *TRIP 2NWRV       800-5    5.28      0.0   670.45
63   19/03/2019   CP  UBER   *EATS             800-5   28.15      0.0   599.51
67   23/03/2019   CP  UBR* PENDING.UBER.COM    800-5    4.33      0.0   527.08
69   24/03/2019   CP  UBR* PENDING.UBER.COM    800-5    4.90      0.0   472.35
79   31/03/2019   CP  UBR* PENDING.UBER.COM    800-5    4.65      0.0  1126.57
80   31/03/2019   CP  UBR* PENDING.UBER.COM    800-5    5.64      0.0  1120.93
91   03/04/2019   CP  UBR* PENDING.UBER.COM    800-5    5.87      0.0   813.54
101  09/04/2019   CP  UBER   *TRIP             800-5    2.72      0.0   563.87
111  21/04/2019   CP  UBER   *TRIP             800-5    1.67      0.0   425.03
112  21/04/2019   CP  UBER TRIP HELP.UBER.COM      .    5.19      0.0   419.84
116  23/04/2019   CP  UBER   *TRIP             800-5    1.67      0.0   361.65
125  30/04/2019   CP  UBER TRIP HELP.UBER.COM      .    1.65      0.0   208.66
145  16/05/2019   CP  UBER   *TRIP             800-5    4.07      0.0   450.96
148  19/05/2019   CP  UBER   *TRIP             800-5    3.53      0.0   419.26
152  20/05/2019   CP  UBER   *TRIP             800-5    1.56      0.0   399.94
156  22/05/2019   CP  UBER   *TRIP             800-5    1.67      0.0   378.50
157  23/05/2019   CP  UBER TRIP HELP.UBER.COM      .    4.34      0.0   374.16
161  28/05/2019   CP  UBER TRIP HELP.UBER.COM      .    1.63      0.0   253.94
164  30/05/2019   CP  UBER   *TRIP             800-5    5.17      0.0   125.02
165  31/05/2019   CP  UBER   *TRIP             800-5    5.08      0.0   119.94
172  02/06/2019   CP  UBER   *TRIP             800-5    5.06      0.0   793.19
174  03/06/2019   CP  UBER   *EATS             800-5    7.45      0.0   779.49
..          ...  ...                             ...     ...      ...      ...
299  09/09/2019   CP  UBER TRIP HELP.UBER.COM      .    6.35      0.0   667.86
300  10/09/2019   CP  UBER TRIP HELP.UBER.COM      .    2.37      0.0   665.49
301  10/09/2019   CP  UBER   *TRIP             800-5    2.84      0.0   662.65
303  15/09/2019   CP  UBER TRIP HELP.UBER.COM      .    3.74      0.0   612.95
304  15/09/2019   CP  UBER   *TRIP             800-5    5.09      0.0   607.86
305  19/09/2019   CP  UBER   *TRIP             800-5    5.42      0.0   602.44
306  20/09/2019   CP  UBER TRIP HELP.UBER.COM      .    5.38      0.0   597.06
310  21/09/2019   CP  UBER TRIP HELP.UBER.COM      .    5.34      0.0   198.16
311  22/09/2019   CP  UBER   *TRIP             800-5    1.79      0.0   196.37
313  22/09/2019   CP  UBER TRIP HELP.UBER.COM      .    6.17      0.0   181.21
314  22/09/2019   CP  UBER TRIP HELP.UBER.COM      .    5.31      0.0   175.90
315  22/09/2019   CP  UBER   *TRIP             800-5    0.87      0.0   175.03
316  26/09/2019   CP  UBER TRIP HELP.UBER.COM      .    9.49      0.0   165.54
317  27/09/2019   CP  UBER TRIP HELP.UBER.COM      .    2.81      0.0   162.73
318  28/09/2019   CP  UBER TRIP HELP.UBER.COM      .    1.67      0.0   161.06
319  28/09/2019   CP  UBER   *TRIP             800-5    1.69      0.0   159.37
320  29/09/2019   CP  UBER TRIP HELP.UBER.COM      .    5.51      0.0   153.86
321  29/09/2019   CP  UBER   *TRIP             800-5    5.35      0.0   148.51
322  30/09/2019   CP  UBER TRIP HELP.UBER.COM      .    7.49      0.0   141.02
325  02/10/2019   CP  UBER   *TRIP             800-5    9.55      0.0   781.77
328  06/10/2019   CP  UBER TRIP HELP.UBER.COM      .    1.84      0.0   734.23
329  08/10/2019   CP  UBER TRIP HELP.UBER.COM      .    3.14      0.0   731.09
330  08/10/2019   CP  UBER   *TRIP             800-5    1.78      0.0   729.31
331  09/10/2019   CP  UBER   *TRIP             800-5    9.32      0.0   719.99
332  10/10/2019   CP  UBER TRIP HELP.UBER.COM      .    5.13      0.0   714.86
334  11/10/2019   CP  UBER   *TRIP             800-5    5.38      0.0   372.16
335  12/10/2019   CP  UBER TRIP HELP.UBER.COM      .    5.37      0.0   366.79
336  13/10/2019   CP  UBER   *TRIP             800-5    5.33      0.0   361.46
337  13/10/2019   CP  UBER   *TRIP             800-5    5.55      0.0   355.91
338  14/10/2019   CP  UBER   *TRIP             800-5    1.71      0.0   354.20

[125 rows x 6 columns]