# Series Walkthrough

## Imports

In [2]:
import pandas as pd
import numpy as np

## Series

### Create

In [4]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [5]:
pd.Series(range(9))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [9]:
# que otra forma usando arreglos?

### Access to values

In [45]:
p = pd.Series(range(9))
print("All serie")
display(p)
print('Pos 3')
display(p.iloc[3])
print('Pos 3 as well')
display(p[3])
print('Collection of values')
display(p[[1,2]])

All serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

Pos 3

3

Pos 3 as well

3

Collection of values

1    1
2    2
dtype: int64

In [37]:
y = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
y

d    4
b    7
a   -5
c    3
dtype: int64

In [46]:
# Get 'a' row
display(y['a'])
display(y.loc['a'])
display(y[['a','b']])

-5

-5

a   -5
b    7
dtype: int64

## operators

In [47]:
y + 1

d    5
b    8
a   -4
c    4
dtype: int64

In [53]:
y * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [50]:
t = pd.Series(['a','b','c'])
t

0    a
1    b
2    c
dtype: object

In [52]:
# t + 1

## Other way to create Series

In [56]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
h = pd.Series(sdata)
h

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [64]:
h.index.name = 'state'
h

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [71]:
rand = np.random.randint
top = 9

In [80]:
o = pd.Series({'morning': rand(top, size=1)[0], 'afternoon':rand(top, size=1)[0],'night':rand(top, size=1)[0]})
o

morning      8
afternoon    6
night        0
dtype: int64

In [83]:
n = pd.Series({'morning': rand(top, size=1)[0], 'afternoon':rand(top, size=1)[0],'night':rand(top, size=1)[0]})
n

morning      3
afternoon    8
night        8
dtype: int64

In [84]:
o.combine(n, max)

morning      8
afternoon    8
night        8
dtype: int64

In [89]:
def ope(x,y):
    return x+y-2

In [90]:
o.combine(n, f)

morning       9
afternoon    12
night         6
dtype: int64

# More Exercises

In [91]:
# https://www.machinelearningplus.com/python/101-pandas-exercises-python/