In [87]:
import pandas as pd
import numpy as np

# Data Aggregation and Group Operations

## DATASET

In [88]:
apps = pd.read_csv('googleplaystore.csv')
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## GroupBy Mechanics

In [89]:
## We are asking for the rating mean **BY** Category
grouped = apps.groupby('Category') 
pd.DataFrame(grouped.Rating.mean())

                        Rating
Category
1.9                  19.000000
ART_AND_DESIGN        4.358065
AUTO_AND_VEHICLES     4.190411
BEAUTY                4.278571
BOOKS_AND_REFERENCE   4.346067
BUSINESS              4.121452
COMICS                4.155172
COMMUNICATION         4.158537
DATING                3.970769
EDUCATION             4.389032
ENTERTAINMENT         4.126174
EVENTS                4.435556
FAMILY                4.192272
FINANCE               4.131889
FOOD_AND_DRINK        4.166972
GAME                  4.286326
HEALTH_AND_FITNESS    4.277104
HOUSE_AND_HOME        4.197368
LIBRARIES_AND_DEMO    4.178462
LIFESTYLE             4.094904
MAPS_AND_NAVIGATION   4.051613
MEDICAL               4.189143
NEWS_AND_MAGAZINES    4.132189
PARENTING             4.300000
PERSONALIZATION       4.335987
PHOTOGRAPHY           4.192114
PRODUCTIVITY          4.211396
SHOPPING              4.259664
SOCIAL                4.255598
SPORTS                4.223511
TOOLS                 4.047411
TRAVEL_AND_LOCAL      4.109292
VIDEO_PLAYERS         4.063750
WEATHER               4.244000

In [90]:
## We are asking for the rating mean **BY** Category and LastUpdate
grouped = apps.groupby(['Category','Last Updated']) 
by2Filters = pd.DataFrame(grouped.Rating.mean())
by2Filters

                                     Rating
Category       Last Updated
1.9            1.0.19             19.000000
ART_AND_DESIGN April 15, 2018      3.800000
               April 18, 2018      5.000000
               April 2, 2018       4.350000
               April 20, 2018      4.000000
               April 25, 2018      4.800000
               April 26, 2018      3.800000
               April 27, 2018      4.700000
               August 1, 2018      4.700000
               August 2, 2018      4.700000
               August 22, 2017     4.100000
               August 3, 2018      4.350000
               August 4, 2018      4.800000
               December 17, 2017   4.200000
               January 15, 2018    3.900000
               January 3, 2018     4.200000
               January 4, 2018     4.300000
               January 6, 2018     4.200000
               January 7, 2018     4.100000
               July 11, 2018       3.800000
               July 12, 2018       4.266667
               July 14, 2018       4.100000
               July 19, 2018       4.500000
               July 20, 2018       4.200000
               July 26, 2018       3.400000
               July 3, 2018        4.700000
               July 30, 2018       4.583333
               July 31, 2018       4.600000
               July 7, 2018        4.700000
               June 14, 2018       4.100000
...                                     ...
WEATHER        July 24, 2018       4.400000
               July 25, 2018       4.500000
               July 26, 2018       4.700000
               July 28, 2018       4.600000
               July 29, 2017       4.200000
               July 3, 2018        4.300000
               July 31, 2018       3.900000
               July 4, 2014        4.200000
               July 9, 2018        3.900000
               June 12, 2018       4.600000
               June 15, 2017       4.300000
               June 15, 2018       4.000000
               June 18, 2018       4.000000
               June 21, 2018            NaN
               June 25, 2017       4.500000
               June 26, 2018       3.850000
               June 28, 2017       4.300000
               June 4, 2018        4.400000
               June 6, 2018        4.400000
               June 7, 2018        4.500000
               March 14, 2016           NaN
               March 26, 2018      4.400000
               March 5, 2014       4.200000
               May 14, 2018        4.200000
               May 24, 2018        4.200000
               May 30, 2015        3.700000
               May 6, 2015         3.800000
               May 8, 2018         4.800000
               November 21, 2017   4.500000
               November 25, 2013   3.700000

[5406 rows x 1 columns]

In [127]:
#by2Filters has a multiindex
by2Filters.index;

## Grouping using a dictionary

In [92]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe    -0.562252  0.078472  0.093803 -1.193015 -0.125910
Steve  -0.906517 -1.555484 -0.753413  1.371429  0.790200
Wes    -1.092129       NaN       NaN -2.016845 -0.508921
Jim     1.474689 -0.071412 -0.840946  1.211097 -2.433369
Travis -1.065591  0.519519 -0.220200  0.777803  1.133640

In [93]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [94]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe    -1.099212 -0.609690
Steve   0.618016 -1.671801
Wes    -2.016845 -1.601050
Jim     0.370151 -1.030092
Travis  0.557603  0.587568

## Grouping using a dictionary

In [95]:
map_series = pd.Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

## Grouping by functions

In [135]:
apps.groupby(lambda x: 'Good App' if apps['Rating'].loc[x] > 3  else 'Bad App').ngroups

2

In [96]:
for dtype, group in apps.groupby(lambda x: 'Good App' if apps['Rating'].loc[x] > 3  else 'Bad App'):
    print(dtype)
    print(group)

Bad App
                                                     App             Category  \
23                                Mcqueen Coloring pages       ART_AND_DESIGN
113                            Wrinkles and rejuvenation               BEAUTY
123                               Manicure - nail design               BEAUTY
126                         Skin Care and Natural Beauty               BEAUTY
129                  Secrets of beauty, youth and health               BEAUTY
130                   Recipes and tips for losing weight               BEAUTY
134                        Lady adviser (beauty, health)               BEAUTY
163                           Anonymous caller detection  BOOKS_AND_REFERENCE
180                  SH-02J Owner's Manual (Android 8.0)  BOOKS_AND_REFERENCE
185                       URBANO V 02 instruction manual  BOOKS_AND_REFERENCE
227                                       Y! Mobile menu             BUSINESS
321    【Ranobbe complete free】 Novelba - Free app tha...               COMICS
477                                           Calculator               DATING
478                                    Truth or Dare Pro               DATING
479      Private Dating, Hide App- Blue for PrivacyHider               DATING
480                                 Ad Blocker for SayHi               DATING
514                                   FarmersOnly Dating               DATING
518                        Just She - Top Lesbian Dating               DATING
520       EliteSingles – Dating for Single Professionals               DATING
527                               Sugar Daddy Dating App               DATING
528                                   Adult Dirty Emojis               DATING
546                                           The League               DATING
549       EliteSingles – Dating for Single Professionals               DATING
554                        Just She - Top Lesbian Dating               DATING
588                                   Adult Dirty Emojis               DATING
610                                    Random Video Chat               DATING
611                                          MouseMingle               DATING
613                 Random Video Chat App With Strangers               DATING
617             Meet With Strangers: Video Chat & Dating               DATING
619                       Random Chat App with Strangers               DATING
...                                                  ...                  ...
10751                                          FP Market               FAMILY
10757                       Fisher-Price® Smart Connect™                TOOLS
10759                                     FP NFC Rewrite                TOOLS
10761                             Greek Bible FP (Audio)  BOOKS_AND_REFERENCE
10762                                      The FP Shield   NEWS_AND_MAGAZINES
10764                                  FP Transportation    AUTO_AND_VEHICLES
10766                             FreedomPop Diagnostics                TOOLS
10769                                        FQ Magazine            LIFESTYLE
10772                     FQ Load Board for Transporters             BUSINESS
10773                                           FQ India            LIFESTYLE
10774                                            Miss FQ   NEWS_AND_MAGAZINES
10775                                 FQ - Football Quiz               SPORTS
10788    Fountain Live Wallpaper HD – Dubai Wallpaper 3D      PERSONALIZATION
10794                                            PopStar               FAMILY
10798                               Word Search Tab 1 FR               FAMILY
10806                                    SnakeBite911 FR              MEDICAL
10807                                          My FR App                TOOLS
10808                                 lesparticuliers.fr            LIFESTYLE
10811                                        FR Plus 1.6    AUTO_AND_VEHICLES
10813                                     DICT.fr Mobile             BUSINESS
10816                                 FieldBi FR Offline             BUSINESS
10818                               Gold Quote - Gold.fr              FINANCE
10821                                            Poop FR               FAMILY
10822                                          PLMGSS FR         PRODUCTIVITY
10823                                       List iptv FR        VIDEO_PLAYERS
10824                                          Cardio-FR              MEDICAL
10825                                 Naruto & Boruto FR               SOCIAL
10831                           payermonstationnement.fr  MAPS_AND_NAVIGATION
10835                                           FR Forms             BUSINESS
10838                             Parkinson Exercices FR              MEDICAL

       Rating Reviews   Size  Installs  Type  Price Content Rating  \
23        NaN      61   7.0M  100,000+  Free      0       Everyone
113       NaN     182   5.7M  100,000+  Free      0   Everyone 10+
123       NaN     119   3.7M   50,000+  Free      0       Everyone
126       NaN     654   7.4M  100,000+  Free      0           Teen
129       NaN      77   2.9M   10,000+  Free      0     Mature 17+
130       NaN      35   3.1M   10,000+  Free      0   Everyone 10+
134       NaN      30   9.9M   10,000+  Free      0     Mature 17+
163       NaN     161   2.7M   10,000+  Free      0       Everyone
180       NaN       2   7.2M   50,000+  Free      0       Everyone
185       NaN     114   7.3M  100,000+  Free      0       Everyone
227       NaN       9   1.2M  100,000+  Free      0       Everyone
321       NaN    1330    22M   50,000+  Free      0       Everyone
477       2.6      57   6.2M    1,000+  Paid  $6.99       Everyone
478       NaN       0    20M       50+  Paid  $1.49           Teen
479       NaN       0    18k      100+  Paid  $2.99       Everyone
480       NaN       4   1.2M      100+  Paid  $3.99           Teen
514       3.0    1146   1.4M  100,000+  Free      0     Mature 17+
518       1.9     953    19M  100,000+  Free      0     Mature 17+
520       2.5    5377    19M  500,000+  Free      0     Mature 17+
527       2.5     277   5.7M  100,000+  Free      0     Mature 17+
528       2.8      80   5.5M   10,000+  Free      0           Teen
546       3.0     837   9.4M  100,000+  Free      0     Mature 17+
549       2.5    5377    19M  500,000+  Free      0     Mature 17+
554       1.9     953    19M  100,000+  Free      0     Mature 17+
588       2.8      80   5.5M   10,000+  Free      0           Teen
610       NaN       3    16M    1,000+  Free      0     Mature 17+
611       2.7       3   3.9M      100+  Free      0     Mature 17+
613       NaN       3   4.8M    1,000+  Free      0     Mature 17+
617       NaN       2   3.7M      500+  Free      0     Mature 17+
619       3.0       2    16M      100+  Free      0     Mature 17+
...       ...     ...    ...       ...   ...    ...            ...
10751     NaN      24    44k    1,000+  Free      0       Everyone
10757     2.7     422    72M   50,000+  Free      0       Everyone
10759     NaN      17    67k    1,000+  Free      0       Everyone
10761     NaN       5   8.0M    1,000+  Free      0       Everyone
10762     NaN       0    11M       10+  Free      0       Everyone
10764     NaN       1   885k        1+  Free      0       Everyone
10766     2.9     452   7.0M  100,000+  Free      0       Everyone
10769     NaN       1    12M      100+  Free      0       Everyone
10772     NaN       0   3.9M      100+  Free      0       Everyone
10773     NaN       0   8.9M       10+  Free      0       Everyone
10774     NaN       0    36M       10+  Free      0       Everyone
10775     NaN       1   9.0M        1+  Free      0       Everyone
10788     NaN       1    20M      500+  Free      0       Everyone
10794     NaN      13   5.7M    1,000+  Free      0       Everyone
10798     NaN       0  1020k       50+  Paid  $1.04       Everyone
10806     NaN       1    42M      500+  Free      0       Everyone
10807     NaN       2   4.2M      100+  Free      0       Everyone
10808     NaN      96   1.0M   50,000+  Free      0       Everyone
10811     NaN       4   3.9M      100+  Free      0       Everyone
10813     NaN      20   2.7M   10,000+  Free      0       Everyone
10816     NaN       2   6.8M      100+  Free      0       Everyone
10818     NaN      96   1.5M   10,000+  Free      0       Everyone
10821     NaN       6   2.5M       50+  Free      0       Everyone
10822     NaN       0   3.1M       10+  Free      0       Everyone
10823     NaN       1   2.9M      100+  Free      0       Everyone
10824     NaN      67    82M   10,000+  Free      0       Everyone
10825     NaN       7   7.7M      100+  Free      0           Teen
10831     NaN      38   9.8M    5,000+  Free      0       Everyone
10835     NaN       0   9.6M       10+  Free      0       Everyone
10838     NaN       3   9.5M    1,000+  Free      0       Everyone

                                Genres        Last Updated    Current Ver  \
23     Art & Design;Action & Adventure       March 7, 2018          1.0.0
113                             Beauty  September 20, 2017            8.0
123                             Beauty       July 23, 2018            1.3
126                             Beauty       July 17, 2018           1.15
129                             Beauty      August 8, 2017            2.0
130                             Beauty   December 11, 2017            2.0
134                             Beauty    January 24, 2018            3.0
163                  Books & Reference       July 13, 2018            1.0
180                  Books & Reference       June 15, 2018            3.0
185                  Books & Reference      August 7, 2015            1.1
227                           Business       April 9, 2018          1.0.5
321                             Comics        July 3, 2018          6.1.1
477                             Dating    October 25, 2017          1.1.6
478                             Dating   September 1, 2017            1.0
479                             Dating       July 25, 2017          1.0.1
480                             Dating      August 2, 2018            1.2
514                             Dating   February 25, 2016            2.2
518                             Dating       July 18, 2018          6.3.7
520                             Dating       July 31, 2018          4.8.5
527                             Dating    December 4, 2017          3.0.0
528                             Dating    November 6, 2017            1.0
546                             Dating       July 16, 2018         1.15.0
549                             Dating       July 31, 2018          4.8.5
554                             Dating       July 18, 2018          6.3.7
588                             Dating    November 6, 2017            1.0
610                             Dating       July 15, 2018           4.20
611                             Dating       July 17, 2018          1.0.0
613                             Dating       July 17, 2018             1.
617                             Dating       July 16, 2018             1.
619                             Dating       July 17, 2018            2.5
...                                ...                 ...            ...
10751                        Education       June 17, 2012            1.0
10757                            Tools   February 23, 2018          2.4.1
10759                            Tools    January 29, 2016            1.1
10761                Books & Reference     August 29, 2016          1.0.0
10762                 News & Magazines    February 1, 2018          1.1.0
10764                  Auto & Vehicles       March 9, 2018         10.0.0
10766                            Tools       July 17, 2017  1.03.123.0713
10769                        Lifestyle   December 12, 2016            1.0
10772                         Business   February 16, 2018          1.1.3
10773                        Lifestyle       July 31, 2018          7.2.2
10774                 News & Magazines       April 5, 2018            3.8
10775                           Sports        May 29, 2018            1.0
10788                  Personalization      April 13, 2018            1.0
10794                           Casual     January 3, 2018            1.6
10798                           Puzzle    February 6, 2012            1.1
10806                          Medical     October 9, 2017            1.2
10807                            Tools       April 9, 2018     1.283.0037
10808                        Lifestyle   November 25, 2014            1.5
10811                  Auto & Vehicles       July 24, 2018          1.3.6
10813                         Business       July 17, 2018         2.1.10
10816                         Business      August 6, 2018          2.1.8
10818                          Finance        May 19, 2016            2.3
10821                    Entertainment        May 29, 2018            1.0
10822                     Productivity    December 1, 2017              1
10823          Video Players & Editors      April 22, 2018            1.0
10824                          Medical       July 31, 2018          2.2.2
10825                           Social    February 2, 2018            1.0
10831                Maps & Navigation       June 13, 2018      2.0.148.0
10835                         Business  September 29, 2016          1.1.5
10838                          Medical    January 20, 2017            1.0

        Android Ver
23       4.1 and up
113      3.0 and up
123      4.1 and up
126      4.1 and up
129      2.3 and up
130      3.0 and up
134      3.0 and up
163      2.3 and up
180      6.0 and up
185      5.1 and up
227      6.0 and up
321      4.2 and up
477      4.0 and up
478      4.0 and up
479      4.0 and up
480    4.0.3 and up
514      4.0 and up
518      5.0 and up
520    4.0.3 and up
527      4.1 and up
528    4.0.3 and up
546      4.4 and up
549    4.0.3 and up
554      5.0 and up
588    4.0.3 and up
610    4.0.3 and up
611      4.4 and up
613      4.0 and up
617      4.0 and up
619    4.0.3 and up
...             ...
10751    1.6 and up
10757    4.4 and up
10759    4.0 and up
10761  4.0.3 and up
10762    4.4 and up
10764    4.0 and up
10766  4.0.3 and up
10769    4.1 and up
10772    5.0 and up
10773    4.1 and up
10774    4.4 and up
10775    5.0 and up
10788    4.1 and up
10794    4.3 and up
10798    3.0 and up
10806    4.1 and up
10807  2.3.3 and up
10808    2.3 and up
10811   4.4W and up
10813    4.1 and up
10816    4.1 and up
10818    2.2 and up
10821  4.0.3 and up
10822    4.4 and up
10823  4.0.3 and up
10824    4.4 and up
10825    4.0 and up
10831    4.0 and up
10835    4.0 and up
10838    2.2 and up

[1844 rows x 13 columns]
Good App
                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
5                             Paper flowers instructions       ART_AND_DESIGN
6                Smoke Effect Photo Maker - Smoke Editor       ART_AND_DESIGN
7                                       Infinite Painter       ART_AND_DESIGN
8                                   Garden Coloring Book       ART_AND_DESIGN
9                          Kids Paint Free - Drawing Fun       ART_AND_DESIGN
10                               Text on Photo - Fonteee       ART_AND_DESIGN
11               Name Art Photo Editor - Focus n Filters       ART_AND_DESIGN
12                        Tattoo Name On My Photo Editor       ART_AND_DESIGN
13                                 Mandala Coloring Book       ART_AND_DESIGN
14       3D Color Pixel by Number - Sandbox Art Coloring       ART_AND_DESIGN
15                       Learn To Draw Kawaii Characters       ART_AND_DESIGN
16          Photo Designer - Write your name with shapes       ART_AND_DESIGN
17                              350 Diy Room Decor Ideas       ART_AND_DESIGN
18                         FlipaClip - Cartoon animation       ART_AND_DESIGN
19                                          ibis Paint X       ART_AND_DESIGN
20                           Logo Maker - Small Business       ART_AND_DESIGN
21             Boys Photo Editor - Six Pack & Men's Suit       ART_AND_DESIGN
22               Superheroes Wallpapers | 4K Backgrounds       ART_AND_DESIGN
24                           HD Mickey Minnie Wallpapers       ART_AND_DESIGN
25                            Harley Quinn wallpapers HD       ART_AND_DESIGN
26                         Colorfit - Drawing & Coloring       ART_AND_DESIGN
27                                 Animated Photo Editor       ART_AND_DESIGN
28                                 Pencil Sketch Drawing       ART_AND_DESIGN
29                       Easy Realistic Drawing Tutorial       ART_AND_DESIGN
30                        Pink Silver Bow Keyboard Theme       ART_AND_DESIGN
...                                                  ...                  ...
10795                           Reindeer VPN - Proxy VPN                TOOLS
10796   Inf VPN - Global Proxy & Unlimited Free WIFI VPN                TOOLS
10797                              Fuel Rewards® program            LIFESTYLE
10799                                     Fr Daoud Lamei               SOCIAL
10800                                          FR Roster                TOOLS
10801                                Fr Ignacio Outreach               FAMILY
10802                                FR: My Famous Lover               FAMILY
10803                       Fatal Raid - No.1 Mobile FPS                 GAME
10804                                       Poker Pro.Fr                 GAME
10805                                      Scoreboard FR            LIFESTYLE
10809              Castle Clash: RPG War and Strategy FR               FAMILY
10810                                  Fr Lupupa Sermons             BUSINESS
10812                                      Fr Agnel Pune               FAMILY
10814                               FR: My Secret Pets!                FAMILY
10815                          Golden Dictionary (FR-AR)  BOOKS_AND_REFERENCE
10817                               HTC Sense Input - FR                TOOLS
10819                                          Fanfic-FR  BOOKS_AND_REFERENCE
10820                                    Fr. Daoud Lamei               FAMILY
10826          Frim: get new friends on local chat rooms               SOCIAL
10827                                 Fr Agnel Ambarnath               FAMILY
10828                            Manga-FR - Anime Vostfr               COMICS
10829                     Bulgarian French Dictionary Fr  BOOKS_AND_REFERENCE
10830                                  News Minecraft.fr   NEWS_AND_MAGAZINES
10832                                           FR Tides              WEATHER
10833                                        Chemin (fr)  BOOKS_AND_REFERENCE
10834                                      FR Calculator               FAMILY
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0

In [97]:
# describe() performs a set of aggregation fuctions to all numeric columns
grouped = apps.groupby('Category') 
grouped.describe()

                     Rating                                                   \
                      count       mean       std   min     25%   50%     75%
Category
1.9                     1.0  19.000000       NaN  19.0  19.000  19.0  19.000
ART_AND_DESIGN         62.0   4.358065  0.358297   3.2   4.100   4.4   4.700
AUTO_AND_VEHICLES      73.0   4.190411  0.543692   2.1   4.000   4.3   4.600
BEAUTY                 42.0   4.278571  0.362603   3.1   4.000   4.3   4.575
BOOKS_AND_REFERENCE   178.0   4.346067  0.429046   2.7   4.100   4.5   4.600
BUSINESS              303.0   4.121452  0.624422   1.0   3.900   4.3   4.500
COMICS                 58.0   4.155172  0.537758   2.8   3.825   4.4   4.500
COMMUNICATION         328.0   4.158537  0.426192   1.0   4.000   4.3   4.400
DATING                195.0   3.970769  0.630510   1.0   3.700   4.1   4.400
EDUCATION             155.0   4.389032  0.251894   3.5   4.200   4.4   4.600
ENTERTAINMENT         149.0   4.126174  0.302556   3.0   3.900   4.2   4.300
EVENTS                 45.0   4.435556  0.419499   2.9   4.200   4.5   4.700
FAMILY               1747.0   4.192272  0.508026   1.0   4.000   4.3   4.500
FINANCE               323.0   4.131889  0.642108   1.0   4.000   4.3   4.500
FOOD_AND_DRINK        109.0   4.166972  0.548070   1.7   4.000   4.3   4.500
GAME                 1097.0   4.286326  0.365375   1.0   4.100   4.4   4.500
HEALTH_AND_FITNESS    297.0   4.277104  0.617822   1.4   4.100   4.5   4.600
HOUSE_AND_HOME         76.0   4.197368  0.368411   2.8   4.000   4.3   4.500
LIBRARIES_AND_DEMO     65.0   4.178462  0.378522   3.1   4.000   4.2   4.400
LIFESTYLE             314.0   4.094904  0.693907   1.5   3.800   4.2   4.600
MAPS_AND_NAVIGATION   124.0   4.051613  0.519926   1.9   3.775   4.2   4.400
MEDICAL               350.0   4.189143  0.663581   1.0   4.000   4.3   4.600
NEWS_AND_MAGAZINES    233.0   4.132189  0.536707   1.7   3.900   4.2   4.500
PARENTING              50.0   4.300000  0.517845   2.0   4.100   4.4   4.675
PERSONALIZATION       314.0   4.335987  0.352732   2.5   4.200   4.4   4.600
PHOTOGRAPHY           317.0   4.192114  0.462896   2.0   4.000   4.3   4.500
PRODUCTIVITY          351.0   4.211396  0.504931   1.0   4.100   4.3   4.500
SHOPPING              238.0   4.259664  0.404577   1.6   4.100   4.3   4.500
SOCIAL                259.0   4.255598  0.413809   1.9   4.100   4.3   4.500
SPORTS                319.0   4.223511  0.427857   1.5   4.100   4.3   4.500
TOOLS                 734.0   4.047411  0.616143   1.0   3.800   4.2   4.400
TRAVEL_AND_LOCAL      226.0   4.109292  0.504691   2.2   3.900   4.3   4.400
VIDEO_PLAYERS         160.0   4.063750  0.551098   1.8   3.800   4.2   4.400
WEATHER                75.0   4.244000  0.331353   3.3   4.050   4.3   4.500


                      max
Category
1.9                  19.0
ART_AND_DESIGN        5.0
AUTO_AND_VEHICLES     4.9
BEAUTY                4.9
BOOKS_AND_REFERENCE   5.0
BUSINESS              5.0
COMICS                5.0
COMMUNICATION         5.0
DATING                5.0
EDUCATION             4.9
ENTERTAINMENT         4.7
EVENTS                5.0
FAMILY                5.0
FINANCE               5.0
FOOD_AND_DRINK        5.0
GAME                  5.0
HEALTH_AND_FITNESS    5.0
HOUSE_AND_HOME        4.8
LIBRARIES_AND_DEMO    5.0
LIFESTYLE             5.0
MAPS_AND_NAVIGATION   4.9
MEDICAL               5.0
NEWS_AND_MAGAZINES    5.0
PARENTING             5.0
PERSONALIZATION       5.0
PHOTOGRAPHY           5.0
PRODUCTIVITY          5.0
SHOPPING              5.0
SOCIAL                5.0
SPORTS                5.0
TOOLS                 5.0
TRAVEL_AND_LOCAL      5.0
VIDEO_PLAYERS         4.9
WEATHER               4.8

# Time series

## Date and Time Data Types and Tools

In [98]:
from datetime import datetime
now = datetime.now()
display(now)
now.year, now.month, now.day

datetime.datetime(2019, 5, 16, 14, 44, 3, 579796)

(2019, 5, 16)

In [99]:
delta = datetime(2019, 6, 1) - datetime(2018, 6, 1)
delta

datetime.timedelta(days=365)

In [100]:
from datetime import timedelta
start = datetime(2019, 1, 7)
start + timedelta(12)

datetime.datetime(2019, 1, 19, 0, 0)

In [144]:
stamp = datetime(year=2011, month=1, day=3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [ ]:
stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')

In [102]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [103]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [104]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    1.379887
2011-01-05   -1.497370
2011-01-07    0.136831
2011-01-08    0.131512
2011-01-10    1.011412
2011-01-12   -1.174474
dtype: float64

In [105]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [106]:
dup_ts.index.is_unique

False

In [107]:
pd.date_range('2019-01-01', '2019-02-2')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-02'],
              dtype='datetime64[ns]', freq='D')

In [108]:
pd.date_range(start='2012-04-01', periods=2)

DatetimeIndex(['2012-04-01', '2012-04-02'], dtype='datetime64[ns]', freq='D')

In [109]:
pd.date_range('2000-01-01', '2000-01-02 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

## Timestamp

Pandas replacement for datetime.datetime  
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [137]:
pd.Timestamp(2017, 1, 1, 12)

Timestamp('2017-01-01 12:00:00')

In [111]:
pd.Timestamp(year=2017, month=1, day=1, hour=12)

Timestamp('2017-01-01 12:00:00')

In [112]:
delta = pd.Timestamp(2019, 1, 1) - pd.Timestamp(2019, 1, 2)
display(delta.days)
delta

-1

Timedelta('-1 days +00:00:00')

In [113]:
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),datetime(2018, 1, 1)])
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [114]:
today = pd.Timestamp('2019-05-17')
display(today)
today.day_name()

Timestamp('2019-05-17 00:00:00')

'Friday'

In [115]:
tomorrow = today + pd.Timedelta('1 day')
tomorrow.day_name()

'Saturday'

In [116]:
monday = pd.Timestamp('2019-05-17') + pd.offsets.BDay()
monday.day_name()

'Monday'

In [117]:
pd.Timestamp('2019-05-17') + pd.DateOffset(1)

Timestamp('2019-05-18 00:00:00')

In [118]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],'day': [4, 5],'hour': [2, 3]})
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [119]:
cr = pd.Timestamp.now(tz='America/Costa_Rica')
ny = pd.Timestamp.now(tz='America/New_York')
display(cr.strftime('%Y-%m-%d %H:%M'))
display(ny.strftime('%Y-%m-%d %H:%M'))

'2019-05-16 14:44'

'2019-05-16 16:44'

In [120]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
cal = calendar()
cal.holidays()

DatetimeIndex(['1970-01-01', '1970-02-16', '1970-05-25', '1970-07-03',
               '1970-09-07', '1970-10-12', '1970-11-11', '1970-11-26',
               '1970-12-25', '1971-01-01',
               ...
               '2030-01-01', '2030-01-21', '2030-02-18', '2030-05-27',
               '2030-07-04', '2030-09-02', '2030-10-14', '2030-11-11',
               '2030-11-28', '2030-12-25'],
              dtype='datetime64[ns]', length=594, freq=None)

In [121]:
#Boolean comp
pd.Timestamp.now() < pd.Timestamp('1996-06-01')

False

# Challenges

## Day of my birthday

In [122]:
pd.Timestamp('1996-06-01').day_name()

'Saturday'

## Days from birthday

In [123]:
days = pd.Timestamp.now() - pd.Timestamp('1996-06-01')
days

Timedelta('8384 days 14:44:04.723386')

## How many days have you been working at GFT (Monday-Friday)

In [124]:
from pandas.tseries.offsets import *
pd.date_range('2019-01-01', '2019-01-31', freq=BDay()).day.size

23

In [141]:
pd.Timestamp.now()

Timestamp('2019-05-16 16:58:27.286543')